<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.png">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/odometer.css">
</head>
<body>

<!-- Loading Centralizado -->
<div id="loadingPrincipal" class="loading-container">
    <div class="loading-text"></div>
    <div class="loading-subtext"></div>
    <div class="loading-progress">
        <div class="loading-progress-bar"></div>
    </div>
    <div class="loading-dots">
        <div class="loading-dot"></div>
        <div class="loading-dot"></div>
        <div class="loading-dot"></div>
    </div>
</div>

<div class="container">
    <h2 id="tituloPagina"></h2>
    <p class="subtitle"></p>

    <p>Quantidade de seguidores:</p>
    <h1 id="qtdSeguidores" class="qtdSeguidores"></h1>

    <div class="qrcode-container">
        <div id="qrcode"></div>
    </div>

    <div class="instructions">
        <p><strong>Como usar:</strong> Aponte o celular para o QRCODE acima e nos siga em tempo real no <strong>Instagram</strong>!</p>
    </div>
</div>

<script src="../js/jquery.min.js"></script>
<script src="../js/odometer.js" type="module"></script>
<script src="../js/qrcode-generator.js"></script>
<script src="../js/index.js"></script>

</body>
</html>